* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8;
  color: #a2a2a2; }

.nav-links-container {
  display: block; }

.nav-links {
  list-style: none; }
  .nav-links li {
    float: left;
    margin: 0 10px; }
  .nav-links a {
    font-size: 16px;
    border-bottom: 1.5px solid transparent;
    color: #a2a2a2;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 0.3s ease-in; }

.dropdown-container {
  width: 100px; }

.destination-select {
  margin-top: 20px; }

footer {
  margin-top: 80px; }
