<h3 class="text-center">Finding Falcone!</h3>
<div class="container-fluid">
	<div class="row destination-select">
		<div class="col-sm-3">
			<select class="form-group" ng-repeat="planet in SearchCtrl.planets" placeholder="Destination1">
				<option>{{planet.name}}</option>				
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-group" placeholder="Destination2">
				
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-group" placeholder="Destination3">
				
			</select>				
		</div>
		<div class="col-sm-3">
			<select class="form-group" placeholder="Destination4">
				
			</select>				
		</div>
	</div>
</div>
