<h3 class="text-center">Finding Falcone</h3>
<div class="container-fluid">
	<div class="row destination-select">
		<div class="col-sm-3">
			<select class="form-group dropdown-container"
				ng-options="planet.name for planet in SearchCtrl.planets"
				ng-model="SearchCtrl.selected">				
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-group dropdown-container"
				ng-options="planet.name for planet in SearchCtrl.planets"
				ng-model="SearchCtrl.selected">
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-group dropdown-container"
				ng-options="planet.name for planet in SearchCtrl.planets"
				ng-model="SearchCtrl.selected">
			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-group dropdown-container"
				ng-options="planet.name for planet in SearchCtrl.planets"
				ng-model="SearchCtrl.selected">
			</select>
		</div>		
	</div>
</div>
